<header>
  <textarea class="game-color" name="Game to add" placeholder="Game to add" spellcheck="false" [(ngModel)]="gameName" required></textarea>
</header>

<main>
    <div id="template">
      <div id="clipboard">
        <h2>Template</h2>
        <button (click)="copyToClipboard()">📄</button>
      </div>
      <div>Fill up the following fields of the game: <span class="game-color">{{this.gameName}}</span></div>

      <div>Name: </div>
      
      <div>Sort name: </div>
      
      <div>Description: </div>
      
      <div>Original Release Date: </div>
      
      <div>Platforms: </div>
      
      <div>Franchise (if they have more games of the same saga, if not, do not show this entry): </div>
      
      <div>Developers: </div>
      
      <div>Publishers: </div>
      
      <div>Genres: </div>
    </div>

    <section>
      <a href="https://chatgpt.com/" target="_blank">Open ChatGPT</a>
      <a href="https://www.grouvee.com/games/create/" target="_blank">Add Game To Grouvee</a>
    </section>
</main>
